<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel = 'icon' href = '/img/weather.png'>
    <link rel = "stylesheet" href = "/css/styles.css">
</head>

<body>
    <div class = 'main-content'>
        {{>header}}
        <div class = 'ps'>
            <p>i got a free weather api from <a href = "https://openweathermap.org">openweathermap</a></p>

            <p>Also , i got an api to determine the location of the requested
                city using  <a href = "https://www.mapbox.com">mapbox</a></p>
        </div>    
    </div>
    {{>footer}}
</body>
</html>